<!-- Jumbotron -->
<section class="jumbotron text-center">
  <img src="img/Bagus.jpg" alt="error image" width="200" class="rounded-circle img-thumbnail" />
  <h1 class="display-4">Bagus Setiawan</h1>
  <p class="lead">College Student</p>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path
      fill="#ffffff"
      fill-opacity="1"
      d="M0,0L48,26.7C96,53,192,107,288,122.7C384,139,480,117,576,96C672,75,768,53,864,80C960,107,1056,181,1152,202.7C1248,224,1344,192,1392,176L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
    ></path>
  </svg>
</section>
<!-- Akhir Jumbotron -->
<!-- <h1>Hello World!</h1>
    <h2>Selamat Datang <h2%= nama %></h2>
    <h3>Daftar Mahasiswa</h3>
    <% if (mahasiswa.length == 0) { %>
     <p>Data Mahasiwa Masih Kosong</p>
    <% } else { %>
    <% mahasiswa.forEach(Mhs => { %>
      <ul>
      <li><%= Mhs.nama %> </li>
      <li><%= Mhs.nim %> </li>
    </ul>
    <% }) %> <% } %>  -->
